* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  width: 100vw;
  height: 100vh;
}

aside {
  position: fixed;
  height: 1015px;
  box-sizing: border-box;
  margin-top: 44px;
  margin-left: 18px;
  width: 246px;
  z-index: 100;
}

main {
  display: flex;
  margin-left: 246px;
  flex-direction: row;
  align-items: stretch;
}

.top-bar {
  margin-top: 22.5px;
  margin-right: 48px;
  margin-left: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 18px;
}

hr {
  height: 1px;
  color: linear-gradient(to right #e0e1e200, #e0e1e2, #e0e1e2);
}

footer {
  background: white;
  bottom: 0;
  left: 246px;
  position: fixed;
  right: 0;
  z-index: 5;
  text-align: start;
}
